<div class="ui-dialog dialog-md cargo-sku-type-window">
    <div class="modal-header">
        <h4 class="modal-title">选择规格</h4>
    </div>
	<form class="form-horizontal" name="client-form">
		<div class="modal-body">
            <div class="panel panel-default">
            	<div class="panel-body"></div>
            </div>
		</div>
	</form>
    <div class="modal-footer">
        <button type="button" class="btn btn-info btn-save">确定</button>
        <button type="button" class="btn btn-default btn-cancel">取消</button>
    </div>
</div>
