<div class="ui-dialog dialog-md addcouponDetailWindow">
	<div class="modal-header">
		<h4 class="modal-title">兑换券编码</h4>
	</div>
	<div class="modal-body">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row" style="margin-right: 10px;">
					<div class="row">
					
					<div class="container-fluid">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <div class="good-info-main-btngroup" role="search">
                        
                        <span class="btn fileinput-button">
                            <button type="button" class="btn btn-info importExcel" action="add">批量导入</button>  
                            <span style="color:#ff0000; font-size:16px">注：请确保导入的excel表格里，所有的单元格为文本类型</span>
                            <input class="fileupload-select" type="file"/>
                            <input type="hidden" name="icon"/>
                         </span>
                      </div>
                    </div>
                   </div>
					<div class="col-md-12 emgceval-content-div"
						id="addcouponDetail-info-content-div"></div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="modal-footer">
	    <button type="button" class="btn btn-primary" action="sure-button">完成</button>
		<button type="button" class="btn btn-default" action="cancel-button">关闭</button>
	</div>
</div>
