<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.club.web.event.dao.extend.EventActivityPointExtendMapper">
	<resultMap id="BaseResultMap" type="com.club.web.event.vo.EventActivityPointVo">
		<id column="ID" property="id" jdbcType="BIGINT" />
		<result column="event_activity_id" property="eventActivityId"
			jdbcType="BIGINT" />
		<result column="event_activity_userinfo" property="eventActivityUserinfo"
			jdbcType="BIGINT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, event_activity_id, event_activity_userinfo, create_time
	</sql>

	<select id="findEventActivityPointVoByUserInfoAndEventActivityId"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from event_activity_point
		where
		event_activity_id = #{eventActivityId}
		and event_activity_userinfo = #{userId}
	</select>
	<select id="findByActivityId"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from event_activity_point
		where
		event_activity_id = #{eventActivityId}
	</select>

</mapper>