<div class="ui-dialog dialog-md levelConfWindow">
    <div class="modal-header">
        <h4 class="modal-title">会员等级返利设置</h4>
    </div>
    <div class="modal-body">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal" name="level-conf-form">
                    
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" action="save-button">确定</button>
        <button type="button" class="btn btn-default" action="cancel-button">取消</button>
    </div>
</div>
