<div class="wrapper">
    <header class="main-header"></header>
    <aside class="main-sidebar">
        <section class="sidebar" style="height: auto;">
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu"></ul>
        </section>
    </aside>
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="ui-tabs main-content-tabs">
                    <ul class="ui-tabs-nav">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
