<div class="row">
    <div class="col-md-12 emgceval-main-view">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group btn-group pull-right autoRepeat-info-main-btngroup">
                  <div class="col-md-3">
                    <input type="text" name="conditions" class="form-control" placeholder="按关键词搜索">
                    </div>
                    <span class="input-group-btn cargo-manager-classify-group">
                        <button type="submit" name="search" class="btn btn-info" action="search" ><i class="fa fa-search"></i>
                        </button>
                        <button type="button" class="btn btn-info" action="refresh" title="刷新">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                        <button type="button" class="btn btn-info" action="add" title="添加">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button type="button" class="btn btn-info" action="edit" title="修改">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button type="button" class="btn btn-info" action="del" title="删除">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row" style="margin-right:10px;">
            <div class="col-md-12 emgceval-content-div" id="autoRepeat-content-div">
            </div>
        </div>
    </div>
</div>