<div class="row version-manager">
    <div id="tabs" class="ui-tabs-panel">
        <div class="row">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <div class="navbar-form navbar-left" role="search">
                    <div class="form-group">
			                            版本名：<input type="text" name="iname" class="form-control">
			                            版本号：<input type="text" name="icode" class="form-control">
			                            平台：<select name="iplatform" class="form-control">
							<option value="" selected="selected">全部</option>
							<option value="0">安卓</option>
							<option value="1">苹果</option>
						 </select>
                    </div>
                    <button class="btn btn-info" action="search">搜索</button>
                   	<button class="btn btn-info" action="add" title="新增">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button class="btn btn-info" action="edit" title="修改">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                     <button class="btn btn-info" action="del" title="删除">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <button class="btn btn-info" action="refresh" title="刷新">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                	<button class="btn btn-info" action="able" title="生效">生效
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button class="btn btn-info" action="disable" title="失效">失效
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>                   
                  </div>
                </div>
            </div>
        </div>
        <div class="row" style="width:99%">
            <div class="col-md-12" id="version-manager-content-div">
            </div>
        </div>
    </div>
</div>
