<div class="row">
    <div class="col-md-12 bankCard-manager-main-view">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group btn-group pull-right bankCard-manager-main-btngroup">
                    <input type="text" id="bankCardCondition"   style="width:200px" class="form-control" placeholder="按姓名搜索...">
                    <button type="submit" class="btn btn-info" action="search" title="搜索">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                  <!--    <button type="button" class="btn btn-info" action="add" title="新增">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button type="button" class="btn btn-info" action="edit" title="修改">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>  -->
                    <button type="button" class="btn btn-info" action="refresh" title="刷新">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                    <!-- <button type="button" class="btn btn-info" action="del" title="删除">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button> -->
                    <button type="button" class="btn btn-info" action="active" title="启用">启用
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button type="button" class="btn btn-info" action="disabled" title="停用">停用
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row" style="margin-right:10px;">
            <div class="col-md-12 bankCard-manager-content-div" id="bankCard-manager-content-div">
            </div>
        </div>
    </div>
</div>