<div class="row">
	<div class="col-md-12 homePageImg-manager-main-view">
		<div class="row">
			<div class="col-md-12">
				<div
					class="input-group btn-group pull-right homePageImg-manager-main-btngroup">
					<div>
					
					<button type="button" class="btn btn-info" action="add" title="ÐÂÔö">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
					<button type="button" class="btn btn-info" action="refresh"
						title="Ë¢ÐÂ">
						<span class="glyphicon glyphicon-refresh"></span>
					</button>
					<button type="button" class="btn btn-info" action="del" title="É¾³ý">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</div>
			</div>
		</div>
		<div class="row" style="margin-right: 10px;">
			<div class="col-md-12 homePageImg-manager-content-div"
				id="homePageImg-manager-content-div"></div>
		</div>
	</div>
</div>