<div class="row">
	<div class="col-md-2">
		<a href="javascript:void(0);" id="unionhandle">{{UNION_HANDLE}}</a>
	</div>
	<div class="col-md-2">
		<a href="javascript:void(0);" id="schedule">{{ONCE_DISPATCH}}</a>
	</div>
	<div class="col-md-2">
		<a href="javascript:void(0);" id="emgceval">{{EMGC_EVAL}}</a>
	</div>
	<div class="col-md-2">
		<a href="javascript:void(0);" id="stat">{{STATISTICS}}</a>
	</div>
	<div class="col-md-2">
		<a href="javascript:void(0);" id="settings">{{SYS_CONF}}</a>
	</div>
	<div class="col-md-2">
		<a href="javascript:void(0);" id="warning">{{WARNING_INFO}}</a>
	</div>
</div>