<div class='header_view'>
    <!-- Logo -->
    <a href="#" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">会员</span>
        <!-- logo for regular state and mobile devices -->
        <img class="logo-lg" src="./image/psmp_logo.png">
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">可收缩导航条</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!--
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        <span class="label label-success">4</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">你有4条新消息</li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        <div class="pull-left">
                                            <img src="./image/user2-160x160.jpg" class="img-circle" alt="User Image">
                                        </div>
                                        <h4>
                        财务消息
                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                      </h4>
                                        <p>猴赛雷会员提现1000审批通过</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="pull-left">
                                            <img src="./image/user3-128x128.jpg" class="img-circle" alt="User Image">
                                        </div>
                                        <h4>
                        系统消息
                        <small><i class="fa fa-clock-o"></i> 2 hours</small>
                      </h4>
                                        <p>猴赛雷会员升级成功</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="pull-left">
                                            <img src="./image/user4-128x128.jpg" class="img-circle" alt="User Image">
                                        </div>
                                        <h4>
                        会员消息
                        <small><i class="fa fa-clock-o"></i> Today</small>
                      </h4>
                                        <p>有新会员加入，待审核</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="pull-left">
                                            <img src="./image/user3-128x128.jpg" class="img-circle" alt="User Image">
                                        </div>
                                        <h4>
                        会员消息
                        <small><i class="fa fa-clock-o"></i> Yesterday</small>
                      </h4>
                                        <p>有新会员加入，待审核</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="pull-left">
                                            <img src="./image/user4-128x128.jpg" class="img-circle" alt="User Image">
                                        </div>
                                        <h4>
                        会员消息
                        <small><i class="fa fa-clock-o"></i> 2 days</small>
                      </h4>
                                        <p>有新会员加入，待审核</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer"><a href="#">忽略全部消息</a></li>
                    </ul>
                </li>-->
                <li class="dropdown user user-menu">
                	<a href="#" id="noticeClick" data-toggle="offcanvas" role="button">
                        <span class="hidden-xs" style="color:red">消息(<span id="noticeCount">0</span>)</span>
                    </a>
                </li>
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="./image/user2-160x160.jpg" class="user-image" alt="User Image">
                        <span class="hidden-xs"><span class="login_name_span"></span>, 欢迎你</span>
                    </a>
                </li>
                 <li class="fa fa-sign-out" id="logout" style='cursor:pointer;margin:20px 10px;'>退出</i>
            </ul>
        </div>
    </nav>
</div>
