<style>
.scroll-content{
	background: #F8F8F8;
}
</style>
<ion-view title="粉丝管理">
    <ion-header-bar class="bar-default">
        <div class="head-right-btn" ng-click="myGoBack();">
            <img src="img/back.png">
        </div>
        <div class="title">粉丝管理</div>
    </ion-header-bar>
    <ion-content lazy-scroll delegate-handle="fans-content-con">
    	<ion-refresher
                pulling-text="下拉刷新..."
                on-refresh="doRefresh()">
        </ion-refresher>
		<div class="list" style="background: #E8E8E8;">
		    <a class="item item-avatar" ng-repeat="fan in fans">
		      <img image-lazy-src="{{fan.picUrl}}" background-img="img/mrtx_80.png" lazy-scroll-resize="true" err-src="img/mrtx_80.png" >
		      <h3 style="margin-top: 0.5rem;font-size: 0.8rem;">{{fan.nickName}}</h3>
		    </a>
		</div>
		<div  ng-if="vouchDataF" style="text-align: center;margin-top: 30%;">
		      <img src="img/no-search.png" style="width: 9rem;">
		      <h3 style="font-size: 0.8rem;color: #989898;font-weight: bold;">暂无粉丝信息</h3>
		</div >
		 <ion-infinite-scroll
                ng-if="showScroll"
                on-infinite="loadMore()"
                immediate-check="false"
                distance="10%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>