<style>
</style>
<ion-view title="编辑">
    <ion-header-bar class="bar-default">
        <div class="head-right-btn" ng-click="myGoBack();">
            <img src="img/back.png">
        </div>
        <div class="title">编辑</div>
        <div class="" ng-click="saveShopName()">保存</div>
    </ion-header-bar>
    <ion-content style="background: #f5f5f5;">
        <div class="list">
            <label class="item item-input">
                <input type="text" ng-model="data.columnVal" />
            </label>
        </div>
    </ion-content>

</ion-view>