<style>
    .context-pas{
        display: -webkit-box;
        padding: 0.5rem .5rem .5rem .5rem;
        width: 100%;;
    }
    .context-pas .left-div{
        width:3.5rem;
    }
    .context-pas .center-div{
        -webkit-box-flex: 1.0;
        text-align: left;
        line-height: 1.5rem;
        padding: 0rem 0rem 0rem .5rem;
    }
    .context-pas .center-div input{
        border: 0;
    }
    .context-pas .center-btn{
        -webkit-box-flex: 1.0;
        text-align: center;
        line-height: 2rem;
        padding: 3rem 0rem 0rem 0rem;
    }
    .context-pas .center-btn input{
        border: 0;
        text-align: center;
        padding: 0.5rem 2rem 0.5rem 2rem;
        width: 70%;
        background-color: red;
        color: white;
    }
    .context-pas .right-div{
        width:4.5rem;
        color: red;
    }
    .context-pas .left-div img ,.context-pas .right-div img{
        width:100%;
        text-align: center;
    }
</style>
<ion-view title="修改密码">
    <ion-header-bar class="bar-default">
        <div class="head-right-btn" ng-click="myGoBack();">
            <img src="img/back.png">
        </div>
        <div class="title">修改密码</div>
        <div class="head-right-btn" ></div>
    </ion-header-bar>
    <ion-content>
        <div>
            <div class="context-pas">
                <div class="left-div">
                    手机号：
                </div>
                <div class="center-div"><input ng-model="data.phoneCode" placeholder="请输入手机号码" ng-disabled="!isShow"/></div>
                <div class="right-div">

                </div>
            </div>
            <div class="context-pas">
                <div class="left-div">
                    验证码：
                </div>
                <div class="center-div"><input ng-model="data.verifyCode" placeholder="请输入验证号"/></div>
                <div class="right-div" ng-click="getVerifyCode()">
                    获取验证码
                </div>
            </div>
            <div class="context-pas" ng-click="getNext()">
                <div class="center-btn"><input type="button" value="下一步"/></div>
            </div>
        </div>
    </ion-content>
</ion-view>