<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.club.web.stock.dao.extend.CargoSkuItemExtendMapper" >
<!-- com.club.web.stock.dao.base.CargoSkuItemMapper.BaseResultMap -->
	<select id="getListBySkuTypeId" resultMap="com.club.web.stock.dao.base.CargoSkuItemMapper.BaseResultMap" parameterType="_long">
		SELECT * FROM `cargo_sku_item` where cargo_sku_type_id=#{skuTypeId};
	</select>
</mapper>