<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.club.web.stock.dao.extend.CargoOutboundOrderExtendMapper" >
   <resultMap id="OutboundResultMap" type="com.club.web.stock.vo.CargoOutboundOrderVo" >
    <result column="id" property="id"  jdbcType="VARCHAR"/>
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="outbound_type" property="outboundType" jdbcType="INTEGER" />
    <result column="source_no" property="sourceNo" jdbcType="VARCHAR" />
    <result column="outbound_time" property="outboundTime" jdbcType="TIMESTAMP" />
    <result column="sub_time" property="subTime" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
    <result column="apply_desc" property="applyDesc" jdbcType="VARCHAR" />
  </resultMap>
  <select id="queryOutboundOrderList" resultMap="OutboundResultMap" >
     select c.id, c.status, c.outbound_type, c.source_no, c.outbound_time, c.sub_time, c.remarks, c.create_time, 
    	s.STAFF_NAME create_by, c.apply_desc from cargo_outbound_order c left join staff_t s on c.create_by=s.STAFF_ID where 1=1 
	<if test="status!=0 ">
    	and c.status=#{status}
    </if>
   	<if test="matchParam!=null and matchParam!='' ">
    	and (c.id like #{matchParam} or s.STAFF_NAME like #{matchParam})
    </if>
     order by c.create_time desc limit #{startIndex},#{pageSize} 
  </select>
  <select id="queryOutboundOrderListTotal" resultType="int">
     select count(1) from cargo_outbound_order c left join staff_t s on c.create_by=s.STAFF_ID where 1=1  
	<if test="status!=0 ">
    	and c.status=#{status}
    </if>
   	<if test="matchParam!=null and matchParam!='' ">
    	and (c.id like #{matchParam} or s.STAFF_NAME like #{matchParam})
    </if>
  </select>
  <delete id="deleteOutboundOrder">
  	delete from cargo_outbound_order where id in
  	 <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">  
	  	#{item}  
	 </foreach>  
  </delete>
   <resultMap id="OutboundDoResultMap" type="com.club.web.stock.domain.CargoOutboundOrderDo" >
    <result column="id" property="id" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="outbound_type" property="outboundType" jdbcType="INTEGER" />
    <result column="source_no" property="sourceNo" jdbcType="VARCHAR" />
    <result column="outbound_time" property="outboundTime" jdbcType="TIMESTAMP" />
    <result column="sub_time" property="subTime" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="BIGINT" />
    <result column="apply_desc" property="applyDesc" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getOutboundObjByIds" resultMap="OutboundDoResultMap">
 	select id, `status`, outbound_type, source_no, outbound_time, sub_time, remarks, create_time, 
    create_by, apply_desc from cargo_outbound_order where id in
     <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">  
	  	#{item}  
	 </foreach>  
  </select>
  <select id="queryOutboundBySourceNo" resultMap="OutboundDoResultMap">
 	select id, `status`, outbound_type, source_no, outbound_time, sub_time, remarks, create_time, 
    create_by, apply_desc from cargo_outbound_order where source_no=#{sourceNo}
  </select>
  <select id="queryOutDetailByOutId" resultType="java.lang.Long">
  	select sku_id from cargo_outbound_detail where outbound_id=#{outboundId}
  </select>
  
</mapper>