<div class="row online-study-main-btngroup">
    <div class="col-md-12 online-study-main-view">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group btn-group pull-right online-study-main-btngroup">
                    <input type="text" name="online-study-conditions" class="form-control" placeholder="按标题搜索...">
                    <select name="online-study-studyType-conditions" class="form-control">
                      <option value='0'>全部</option>
                    </select>
                    <select name="online-study-studyChildType-conditions" class="form-control">
                      <option value='0'>全部</option>
                    </select>
                    <span class="input-group-btn">
                    <button type="submit" name="search" class="btn btn-info" action="search" ><i class="fa fa-search"></i>
                    </button>
                    <button type="button" class="btn btn-info" action="add" title="新增">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button type="button" class="btn btn-info" action="edit" title="修改">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                    <button type="button" class="btn btn-info" action="refresh" title="刷新">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                    <button type="button" class="btn btn-info" action="del" title="删除">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>                   
                </div>
            </div>
        </div>
        <div class="row" style="margin-right:10px;">
            <div class="col-md-12 online-study-content-div" id="online-study-content-div">
            </div>
        </div>
    </div>
</div>
