<style>
    .weixinActivitySignUp{
        background: #f5f5f5;
    }
    .weixinActivitySignUp-list{
        padding: 0;
        margin: 0;
        margin-top: 0.3rem;
    }
    .weixinActivitySignUp-item{
        margin: 0;
        margin-bottom: 0.05rem;
        padding: 0.5rem 1rem;
        padding-left: 3.525rem;
        border: none;
        font-size: 0.8rem;
        min-height:2rem
    }
    .weixinActivitySignUp-img{
        width: 2rem !important;
        height: 2rem !important;
        left: 1rem!important;
        top: 0.5rem!important;
        max-width: 4rem!important;
        max-height: 4rem!important;
    }
    .weixinActivitySignUp-item h3, .weixinActivitySignUp-item p, .weixinActivitySignUp-item p span{
        margin: 0;
        font-size: 0.65rem;
        line-height: 0.8rem;
        color: #000000;
        filter:alpha(opacity=87);
        -moz-opacity:0.87;
        -khtml-opacity: 0.87;
        opacity: 0.87;
    }
    .weixinActivitySignUp p{
        padding-top: 0.4rem;
    }
    .weixinActivitySignUp p span{
        font-size: 0.65rem;
    }
    .weixinActivitySignUp p span.createtime{
        float: right;
        color: #000000;
        opacity: 0.54;
        font-size:0.65rem;
        text-align: right;
    }
</style>
<ion-view title="报名名单" class="weixinActivitySignUp">
    <!--<ion-header-bar class="bar-default" >-->
        <!--<div class="head-right-btn" ng-click="myGoBack();">-->
            <!--<img src="img/back.png">-->
        <!--</div>-->
        <!--<h1 class="title">报名名单</h1>-->
    <!--</ion-header-bar>-->
    <ion-content delegate-handle="weixinActivity-SignUp" overflow-scroll="false" lazy-scroll>
        <ion-refresher
                pulling-text="下拉刷新..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <div class="list weixinActivitySignUp-list">
            <a class="item item-avatar weixinActivitySignUp-item" ng-repeat="user in users">
                <img class="weixinActivitySignUp-img" image-lazy-src="{{user.headimgurl}}"background-img="img/activity-default.jpg" lazy-scroll-resize="true" err-src="img/mrtp_82_62.png">
                <h3>{{user.nickname}}</h3>
                <p><span class="createtime">{{user.createTime}}</span><!--<span>{{user.tel}}</span>--></p>
            </a>
        </div>
        <div style="margin-top:6rem;width: 100%;text-align: center" ng-show="isShow">
            <img src="img/activitySignUp-kong.png" style="width: 50%;margin: 0;padding: 0"/>
            <div style="font-size:0.8rem;color: #000000;margin-top: 2rem;opacity: 0.54">暂无人报名,快去报名吧!</div>
        </div>
        <ion-infinite-scroll
                ng-if="showScroll"
                on-infinite="loadMore()"
                immediate-check="false"
                distance="10%">
    </ion-content>
</ion-view>