<div class="ui-dialog dialog-md deliverRegionWindow">
	<div class="modal-header">
		<h4 class="modal-title">选择配送区域</h4>
	</div>
	<div class="modal-body">
		<div class="panel panel-default" style="margin-bottom: 0">
			<div class="panel-body">
				<div class="col-md-12">
					<div class="form-group required">
						<div class="input-group col-md-12">
							<form class="form-horizontal" name="carriageRuleForm">
								<!-- <table class="gridtable" >
								</table> -->
								<div class="col-md-12 gridDiv">
									<div class="col-md-12" style="text-align: center;">
										<div class="col-md-4">省 </div>
										<div class="col-md-4">市</div>
										<div class="col-md-4">区</div>
									</div>
									<div class="col-md-12">
										<div class="col-md-4 province" style="overflow: auto;height: 360px;text-align: center;"></div>
										<div class="col-md-4 city" style="overflow: auto;height: 360px;text-align: center;"></div>
										<div class="col-md-4 region" style="overflow: auto;height: 360px;text-align: center;"></div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-info" action="save-button">保存</button>
			<button type="button" class="btn btn-default" action="cancel-button">返回</button>
		</div>
	</div>
</div>