<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.club.web.stock.dao.base.ClassifyColumnMapper">
	<resultMap id="BaseResultMap" type="com.club.web.stock.dao.base.po.ClassifyColumn">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="classify_id" property="classifyId" jdbcType="BIGINT" />
		<result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="order_index" property="orderIndex" jdbcType="INTEGER" />
	</resultMap>
	<resultMap id="ClassifyColumnVo" type="com.club.web.stock.vo.ClassifyColumnVo">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="classify_id" property="classifyId" jdbcType="VARCHAR" />
		<result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="classify_name" property="classifyName"
			jdbcType="VARCHAR" />
		<result column="order_index" property="orderIndex" jdbcType="INTEGER" />
		<result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
		<result column="effect_flag" property="effectFlag" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		id, classify_id, img_url, `name`, order_index
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from classify_column
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from classify_column
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<delete id="deleteByList">
		delete from classify_column
		where id in
		<foreach item="item" index="index" collection="ids" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<insert id="insert" parameterType="com.club.web.stock.dao.base.po.ClassifyColumn">
		insert into classify_column (id, classify_id, img_url,
		`name`, order_index)
		values (#{id,jdbcType=BIGINT}, #{classifyId,jdbcType=BIGINT},
		#{imgUrl,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR}, #{orderIndex,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.club.web.stock.dao.base.po.ClassifyColumn">
		insert into classify_column
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="classifyId != null">
				classify_id,
			</if>
			<if test="imgUrl != null">
				img_url,
			</if>
			<if test="name != null">
				`name`,
			</if>
			<if test="orderIndex != null">
				order_index,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="classifyId != null">
				#{classifyId,jdbcType=BIGINT},
			</if>
			<if test="imgUrl != null">
				#{imgUrl,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="orderIndex != null">
				#{orderIndex,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.club.web.stock.dao.base.po.ClassifyColumn">
		update classify_column
		<set>
			<if test="classifyId != null">
				classify_id = #{classifyId,jdbcType=BIGINT},
			</if>
			<if test="imgUrl != null">
				img_url = #{imgUrl,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				`name` = #{name,jdbcType=VARCHAR},
			</if>
			<if test="orderIndex != null">
				order_index = #{orderIndex,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.club.web.stock.dao.base.po.ClassifyColumn">
		update classify_column
		set classify_id = #{classifyId,jdbcType=BIGINT},
		img_url = #{imgUrl,jdbcType=VARCHAR},
		`name` = #{name,jdbcType=VARCHAR},
		order_index = #{orderIndex,jdbcType=INTEGER}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<select id="queryTotalByMap" resultType="int">
		select count(1) from
		classify_column where 1 = 1
		order by order_index desc,id desc
	</select>
	<select id="queryPoByMap" resultMap="ClassifyColumnVo">
		select
		<include refid="Base_Column_List" />
		,(select name from cargo_classify where cargo_classify.id =
		classify_column.classify_id) as classify_name
		,(select count(1) from
		cargo_classify where cargo_classify.id = classify_column.classify_id)
		as delete_flag
		,(select count(1) from cargo_classify where
		cargo_classify.id = classify_column.classify_id and
		cargo_classify.`status`= 1) as effect_flag
		from classify_column where 1 = 1
		<if test="ids != null">
			and id in
			<foreach item="item" index="index" collection="ids" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="classifyStatus != null and classifyStatus !=''">
		and (select count(1) from cargo_classify where
		cargo_classify.id = classify_column.classify_id and
		cargo_classify.`status`= #{classifyStatus}) > 0
		</if>
		order by order_index desc,id desc
		<if test="startIndex != null and startIndex != '' and pageSize != null and pageSize != ''">
			limit #{startIndex},#{pageSize}
		</if>
	</select>
</mapper>