<div class="row">
    <div class="col-md-12 emgceval-main-view">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group btn-group pull-right member-info-main-btngroup">
                    <input type="text" name="-member" class="form-control" placeholder="按会员名称搜索...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-info"><i class="fa fa-search"></i>
                        </button>
                        <button type="button" class="btn btn-info" id="apply-btn" title="封号">同意提现
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                        <button type="button" class="btn btn-info" id="no-btn" title="">拒绝提现
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row" style="margin-right:10px;">
            <div class="col-md-12 emgceval-content-div" id="member-exchange-content-div">
            </div>
        </div>
    </div>
</div>
