<div class="ui-dialog dialog-md shanGuoStoreColumnManagerWindow">
	<div class="modal-header">
		<h4 class="modal-title">新建商品栏目信息</h4>
	</div>
	<div class="modal-body">
		<div class="panel panel-default">
			<div class="panel-body">
				<form class="form-horizontal" name="shanGuoStoreColumn-form">
					<input type="hidden" name="id"/> 
					<input type="hidden" name="valueId"/>
					<input type="hidden" name="createTime">
				    <input type="hidden" name="createBy"> 
				    <input type="hidden" name="updateTime">
					<input type="hidden" name="updateBy">
					<input type="hidden" name="showpictureId">
					<div class="col-md-6">
						<div class="form-group required">
							<label class="col-md-4 control-label">栏目名称：</label>
							<div class="input-group col-md-8">
								<input class="form-control" name="columnName" data-rule="required">
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label class="col-md-2 control-label">规则来源：</label>
							<div class="input-group col-md-10">
								<span>
									<select name="ruleId" style="height: 32px">
				                       <option value="" selected="selected">无规则</option>
				                   	</select>
				                   	<input class="" name="ruleVal">
								</span>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label class="col-md-2 control-label"></label>
							<div class="input-group col-md-10">
								<span>
				                   	<select name="ruleId2" style="height: 32px;float: left;">
				                       <option value="" selected="selected">无规则</option>
				                   	</select>
		            				<div class="input-group" style="width: 20%;float: left;">
		            					<input type="text" field="datetime" class="form-control" name="ruleStarttime" data-rule="match[lt, endTime, date]">
		            				</div>
		            				<div style="float: left;">
		            					&nbsp;至&nbsp;
		            				</div>
		            				<div class="input-group" style="width: 20%;float: left;">
		            					<input type="text" field="datetime" class="form-control" name="ruleEndtime">
		            				</div>
								</span>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="col-md-4 control-label">排序：</label>
							<div class="input-group col-md-8">
								<input class="form-control" name="orderBy" value="0" onkeyup="this.value=this.value.replace(/[^\d]/g,'')">
								<span style="font-size:10px;color: #B0B0B0">提示：数字越大,排序越前</span>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label class="col-md-2 control-label">展示图：</label>
							<div class="btn-group baseSkuItem">
						       <div class="flex-container" id="addStoreColumnLogo"></div>
						       <input type="hidden" name="showpicture">
						       <span style="font-size:10px;color: #B0B0B0">建议大小为750*340或370*370</span>
					        </div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-info" action="save-button">确定</button>
		<button type="button" class="btn btn-default" action="clear-button">重置</button>
		<button type="button" class="btn btn-default" action="cancel-button">取消</button>
	</div>
</div>
