<div class="row">
	<div class="col-md-12 deliveryAddress-manager-main-view">
		<div>
			<div class="modal-body">
				<div class="panel panel-default">
					<div class="panel-body">
						<form class="form-horizontal" name="deliveryAddress-form">
							<input type="hidden" name="staffId" /> <input type="hidden" id="passwordOld"
								 />
							<div class="col-md-6">
						<div class="form-group required">
							<label class="col-md-4 control-label">手机账号</label>
							<div class="input-group col-md-8">
								<input class="form-control" id="loginName" name="loginName" data-rule="required;">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group required">
							<label class="col-md-4 control-label">密码</label>
							<div class="input-group col-md-8">
								<input type="password" id="password" class="form-control" name="password" data-rule="required;">
							</div>
						</div>
					</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" action="save">保存</button>
				<button type="button" class="btn btn-default" action="clear">重置</button>
			</div>
		</div>
	</div>
</div>