<div class="ui-dialog dialog-md good-info-window">
    <div class="modal-header">
        <h4 class="modal-title">标题</h4>
    </div>
<!-- 	<form class="form-horizontal" name="client-form"> -->
		<div class="modal-body">
            <div class="panel panel-default">
            	<div class="panel-body">
	       			<input type="hidden" name="cargoId" />
	                <div class="form-group required">
	                    <label class="col-md-2 control-label">货品编号：</label>
	                    <div class="input-group col-md-4">
	                        <input class="form-control" name="cargoNo" data-rule="required">
	                    </div>
	                </div>
	                 <div class="form-group required">
	                    <label class="col-md-2 control-label">分类：</label>
	                    <div class="classify-group">
	                   		<a class="btn btn-link">新建分类</a>
	                   	</div>
	                    
	                 </div>
	                 <div class="form-group required">
	                    <label class="col-md-2 control-label">品牌：</label>
	                    <div class="btn-group brand-group"></div>
	                   	<a class="btn btn-link">新建品牌</a>
	                </div>
	                <div class="form-group required">
	                    <label class="col-md-2 control-label">商品名称：</label>
	                    <div class="input-group col-md-4">
	                        <input class="form-control" name="goodName" data-rule="required">
	                    </div>
	                </div>
	                <div class="form-group required">
	                    <label class="col-md-2 control-label">商品介绍：</label>
	                    <div class="input-group col-md-4">
	                        <input class="form-control" name="describe" data-rule="required">
	                    </div>
	                </div>
	                 <div class="form-group required">
	                    <label class="col-md-2 control-label">商品栏目：</label>
	                    <div class="input-group col-md-4">
	                        <input class="form-control" name="columnName" data-rule="required">
	                    </div>
	                </div>
	                 <div class="form-group required beginTime">
	                    <label class="col-md-2 control-label">开始时间：</label>
	                    <div class="input-group col-md-4">
	                        <input class="form-control" name="beginTime" data-rule="required">
	                    </div>
	                </div>
	                 <div class="form-group required endTime">
	                    <label class="col-md-2 control-label">结束时间：</label>
	                    <div class="input-group col-md-4">
	                        <input class="form-control" name="endTime" data-rule="required">
	                    </div>
	                </div>
	                <div class="form-group required">
	                    <label class="col-md-2 control-label">商品用途：</label>
	                    <div class="input-group col-md-4">
	                        <input class="form-control" name="labelName" data-rule="required">
	                    </div>
	                </div>
	                <div class="form-group required">
	                    <label class="col-md-2 control-label">状态：</label>
	                    <div class="input-group col-md-4">
	                        <input class="form-control" name="statusName" data-rule="required">
	                    </div>
	                </div>
	                <div class="form-group required">
	                    <label class="col-md-2 control-label">创建时间：</label>
	                    <div class="input-group col-md-4">
	                        <input class="form-control" name="createTime" data-rule="required">
	                    </div>
	                </div>
	                <div class="form-group required">
	                    <label class="col-md-2 control-label">包邮规则：</label>
	                    <div class="input-group col-md-4">
								<select name="postid" class="form-control postid">
								 <option value='' selected='selected'>未配置包邮规则</option>;
								</select>
						</div>
	                </div>
					<div class="form-group required">
					    <label class="col-md-2 control-label">缩略图：</label>
					    <div class="btn-group" >
						    <div class="flex-container" id="small_img_container"></div>
					    </div>
					</div>
					<div class="form-group required">
					    <label class="col-md-2 control-label">展示图：</label>
					    <div class="btn-group" >
						    <div class="flex-container" id="show_img_container"></div>
					    </div>
					</div>
					<div class="form-group required">
					    <label class="col-md-2 control-label">商品详情：</label>
					    <div class="btn-group" >
						    <div class="flex-container" id="detail_img_container" style="height: 160px;overflow: auto;"></div>
					    </div>
					</div>

					<div id='position-cargo-manager-sku-type'>&nbsp;</div>
					<div class="form-group required">
					    <label class="col-md-2 control-label">商品规格：</label>
					    <div class='col-md-10'>
		                    <div class="btn-group btn-cargo-sku-type-add">
		                    	<button type="button" class="btn btn-default" title="新建" >
		                    		&nbsp;新建&nbsp;<span class="glyphicon glyphicon-plus"></span>
		                    	</button>
		                    	<span class="label label-warning hidden" style='font-size: 12px; font-weight: normal;'>更改货品规格前，请删除所有SKU</span>
		                    </div>
					    </div>
					</div>
					<div id='position-cargo-manager-sku-container'>&nbsp;</div>
					<div class="panel-body cargo-manager-sku-container">
						<div class="panel panel-default col-md-4">
							<div class="panel-body cargo-manager-sku-generate-list">
							</div>
						</div>
					    <div class="col-md-8 emgceval-main-view cargo-manager-sku-list">
					        <div class="row">
					            <div class="col-md-12">
			                        <button type="button" class="btn btn-sm btn-default btn-cargo-manager-sku-list-delete" title="删除">
			                            <span class="glyphicon glyphicon-trash"></span>
			                        </button>
					            </div>
					        </div>
					        <div class="row">
					        	<div>
						            <div class="col-md-12 emgceval-content-div cargo-manager-sku-list-content-div">
						            </div>
					        	</div>
					        </div>
					    </div>
					</div>
                </div>
            </div>
		</div>
<!-- 	</form> -->
    <div class="modal-footer">
        <button type="button" class="btn btn-default">关闭</button>
    </div>
</div>
