<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.club.web.store.dao.extend.SettleTimeExtendMapper" >
   <resultMap id="BaseResultMap" type="com.club.web.store.dao.base.po.SettleTime" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="settle_date" property="settleDate" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, settle_date, update_time
  </sql>
  <select id="selectByPage" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from trade_settle_time
   
  </select>
</mapper>