<div class="ui-dialog dialog-md queryActivityCommentView">
	<div class="modal-header">
		<h4 class="modal-title">查看活动评论信息</h4>
	</div>
	<div class="modal-body">
		<div class="col-md-12 query-activity-comment-main-view">
			<div class="row" style="margin-right: 10px;">
				<div class="col-md-12 query-activity-comment-content-div"
					id="query-activity-comment-content-div"></div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" action="cancel-button">取消</button>
	</div>
</div>
