<div class="ui-dialog dialog-md carriageRuleDetailWindow">
	<div class="modal-header">
		<h4 class="modal-title">查看模板详情</h4>
	</div>
	<div class="modal-body">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="col-md-12">
					<div class="form-group required">
						<label class="col-md-2 control-label">模板名称：</label>
						<div class="input-group col-md-10">
							<div class="col-md-6" id="templateName"></div>
							<div class="col-md-6">
								<span style="font-size:10px;color: #B0B0B0">备注：建议不超过20个字</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group required">
						<label class="col-md-2 control-label">默认运费：</label>
						<div class="input-group col-md-10">
							<div class="col-md-4" id="carriage">运费</div>
							<div class="col-md-8">
								<span style="font-size:10px;color: #B0B0B0">
									备注：以下配送区域除外的地区，运费为默认运费金额。
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label class="col-md-2 control-label">配送区域：</label>
						<div class="input-group col-md-10">
							<table class="gridtable col-md-12">
								<tr >
									<th class="col-md-2" style="text-align: center;">订单满额(元)</th>
									<th class="col-md-2" style="text-align: center;">满额运费</th>
									<th class="col-md-2" style="text-align: center;">未满运费</th>
									<th class="col-md-6">可配送区域</th>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>