<div class="row carriageRule-info-main-btngroup" >
    <div class="col-md-12 emgceval-main-view">
        <div class="row">
            <div class="container-fluid">
            	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            		<div class="navbar-form navbar-left" role="search">
                    	<!-- <button class="btn btn-info" action="search">搜索</button>
                    	<button class="btn btn-info" action="refresh">刷新</button> -->
                        <button class="btn btn-info" action="add">新增运费模板</button>
                   </div>
                </div>
           	</div>
        </div>
        <div class="row" style="margin-right:10px;">
            <div class="col-md-12 emgceval-content-div" id="carriageRule-info-content-div">
            </div>
        </div>
    </div>
</div>
