<div class="row storeLevel-info-main-btngroup" >
    <div class="col-md-12 emgceval-main-view">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group btn-group pull-right">
                      <button type="button" class="btn btn-info" action="refresh" title="刷新">
                          <span class="glyphicon glyphicon-refresh"></span>
                      </button>
                      <button type="button" class="btn btn-info" action="add" title="新建店铺等级">
                          <span class="glyphicon glyphicon-plus"></span>
                      </button>
                      <button type="button" class="btn btn-info" action="edit" title="修改店铺等级">
                          <span class="glyphicon glyphicon-edit"></span>
                      </button>
                      <button type="button" class="btn btn-info" action="del" title="删除店铺等级">
                          <span class="glyphicon glyphicon-trash"></span>
                      </button>
                      <button type="button" class="btn btn-info" action="active" title="启用">启用
                          <span class="glyphicon glyphicon-ok"></span>
                      </button>
                      <button type="button" class="btn btn-info" action="disabled" title="停用">停用
                          <span class="glyphicon glyphicon-remove"></span>
                      </button>
                </div>
            </div>
        </div>
        <div class="row" style="margin-right:10px;">
            <div class="col-md-12 emgceval-content-div" id="storeLevel-info-content-div">
            </div>
        </div>
    </div>
</div>
