<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.club.web.stock.dao.base.CargoDetailMapper" >
  <resultMap id="BaseResultMap" type="com.club.web.stock.dao.base.po.CargoDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="cargo_id" property="cargoId" jdbcType="BIGINT" />
    <result column="cargo_info_type" property="cargoInfoType" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.club.web.stock.dao.base.po.CargoDetail" extends="BaseResultMap" >
    <result column="cargo_info" property="cargoInfo" jdbcType="LONGVARBINARY" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cargo_id, cargo_info_type, create_time, create_by, update_time, update_by
  </sql>
  <sql id="Blob_Column_List" >
    cargo_info
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cargo_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from cargo_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.club.web.stock.dao.base.po.CargoDetail" >
    insert into cargo_detail (id, cargo_id, cargo_info_type, 
      create_time, create_by, update_time, 
      update_by, cargo_info)
    values (#{id,jdbcType=BIGINT}, #{cargoId,jdbcType=BIGINT}, #{cargoInfoType,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=BIGINT}, #{cargoInfo,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.club.web.stock.dao.base.po.CargoDetail" >
    insert into cargo_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cargoId != null" >
        cargo_id,
      </if>
      <if test="cargoInfoType != null" >
        cargo_info_type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="cargoInfo != null" >
        cargo_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cargoId != null" >
        #{cargoId,jdbcType=BIGINT},
      </if>
      <if test="cargoInfoType != null" >
        #{cargoInfoType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="cargoInfo != null" >
        #{cargoInfo,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.club.web.stock.dao.base.po.CargoDetail" >
    update cargo_detail
    <set >
      <if test="cargoId != null" >
        cargo_id = #{cargoId,jdbcType=BIGINT},
      </if>
      <if test="cargoInfoType != null" >
        cargo_info_type = #{cargoInfoType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="cargoInfo != null" >
        cargo_info = #{cargoInfo,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.club.web.stock.dao.base.po.CargoDetail" >
    update cargo_detail
    set cargo_id = #{cargoId,jdbcType=BIGINT},
      cargo_info_type = #{cargoInfoType,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=BIGINT},
      cargo_info = #{cargoInfo,jdbcType=LONGVARBINARY}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.club.web.stock.dao.base.po.CargoDetail" >
    update cargo_detail
    set cargo_id = #{cargoId,jdbcType=BIGINT},
      cargo_info_type = #{cargoInfoType,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>