<div class="row">
    <div class="col-md-12 emgceval-main-view">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group btn-group pull-right supplier-info-main-btngroup">
                    <input type="text" name="supplier-conditions" class="form-control" placeholder="按供应商名称/联系人/联系方式搜索...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" class="btn btn-info" action="search" ><i class="fa fa-search"></i>
                        </button>
                        <button type="button" class="btn btn-info" action="refresh" title="刷新">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                        <button type="button" class="btn btn-info" action="add" title="新建供应商">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button type="button" class="btn btn-info" action="edit" title="修改供应商">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button type="button" class="btn btn-info" action="del" title="删除供应商">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row" style="margin-right:10px;">
            <div class="col-md-12 emgceval-content-div" id="supplier-info-content-div">
            </div>
        </div>
    </div>
</div>
