<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.club.web.store.dao.base.GoodLabelsMapper" >
  <resultMap id="BaseResultMap" type="com.club.web.store.dao.base.po.GoodLabels" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="good_id" property="goodId" jdbcType="BIGINT" />
    <result column="good_base_label_id" property="goodBaseLabelId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, good_id, good_base_label_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from good_labels
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from good_labels
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.club.web.store.dao.base.po.GoodLabels" >
    insert into good_labels (id, good_id, good_base_label_id
      )
    values (#{id,jdbcType=BIGINT}, #{goodId,jdbcType=BIGINT}, #{goodBaseLabelId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.club.web.store.dao.base.po.GoodLabels" >
    insert into good_labels
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodId != null" >
        good_id,
      </if>
      <if test="goodBaseLabelId != null" >
        good_base_label_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="goodId != null" >
        #{goodId,jdbcType=BIGINT},
      </if>
      <if test="goodBaseLabelId != null" >
        #{goodBaseLabelId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.club.web.store.dao.base.po.GoodLabels" >
    update good_labels
    <set >
      <if test="goodId != null" >
        good_id = #{goodId,jdbcType=BIGINT},
      </if>
      <if test="goodBaseLabelId != null" >
        good_base_label_id = #{goodBaseLabelId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.club.web.store.dao.base.po.GoodLabels" >
    update good_labels
    set good_id = #{goodId,jdbcType=BIGINT},
      good_base_label_id = #{goodBaseLabelId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>