<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.club.web.store.dao.base.SettleTimeMapper" >
  <resultMap id="BaseResultMap" type="com.club.web.store.dao.base.po.SettleTime" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="settle_date" property="settleDate" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, settle_date, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from trade_settle_time
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from trade_settle_time
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.club.web.store.dao.base.po.SettleTime" >
    insert into trade_settle_time (id, settle_date, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{settleDate,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.club.web.store.dao.base.po.SettleTime" >
    insert into trade_settle_time
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="settleDate != null" >
        settle_date,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="settleDate != null" >
        #{settleDate,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.club.web.store.dao.base.po.SettleTime" >
    update trade_settle_time
    <set >
      <if test="settleDate != null" >
        settle_date = #{settleDate,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.club.web.store.dao.base.po.SettleTime" >
    update trade_settle_time
    set settle_date = #{settleDate,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>