<div class="row">
    <div class="col-md-12 emgceval-main-view">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group btn-group pull-right good-info-main-btngroup">
                  <div class="col-md-3">
                    <input type="text" name="good-conditions" class="form-control" placeholder="按商品名称搜索">
                    </div>
                     <div class="col-md-3">
                    <input type="text" name="good-conditions1" class="form-control" placeholder="按货品编号搜索">
                    </div>
                                        
                     <div class="col-md-3">                     
                    <select name="status-conditions" class="form-control " >
                    <option value="-1" selected='selected'>所有状态</option>	
                    <option value="2">未上架</option>
                    <option value="1">上架</option>	
                    <option value="0">下架</option>		
					</select>
					</div>
					<div class="col-md-3">                     
                    <select name="goodColumnId" class="form-control goodColumnId" >
                    <option value="-1" selected='selected'>所有栏目</option>		
					</select>
					</div>
	
                    <span class="input-group-btn cargo-manager-classify-group">
                        <div class="btn-group cargo-manager-btn-brand-select"></div>
                        <button type="submit" name="search" class="btn btn-info" action="search" ><i class="fa fa-search"></i>
                        </button>
                        <button type="button" class="btn btn-info" action="refresh" title="刷新">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                        <button type="button" class="btn btn-info" action="add" title="添加商品">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button type="button" class="btn btn-info" action="edit" title="修改商品">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button type="button" class="btn btn-info" action="del" title="删除商品">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <div class="good-info-main-btngroup" role="search">
                        <button class="btn btn-info" action="up">上架</button>
                        <button class="btn btn-info" action="down">下架</button>
                      </div>
                    </div>
             </div>
        </div>
        <div class="row" style="margin-right:10px;">
            <div class="col-md-12 emgceval-content-div" id="good-info-content-div">
            </div>
        </div>
    </div>
</div>