<div class="ui-dialog dialog-md opinionWindow">
    <div class="modal-header">
        <h4 class="modal-title">反馈详情</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="opinion-form">
            <div class="panel panel-default">
                <div class="panel-body">
                     <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label">反馈用户：</label>
                            <label class="col-md-8" name="clientName"></label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">反馈版本名：</label>
                            <label class="col-md-8" name="versionName"></label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">反馈类型：</label>
                            <label class="col-md-8" name="typeName"></label>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label">反馈手机号：</label>
                            <label class="col-md-8" name="clientPhone"></label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">平台：</label>
                            <label class="col-md-8" name="platformText"></label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">反馈时间：</label>
                            <label class="col-md-8" name="createTime"></label>
                        </div>
                     </div>
                     <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-2 control-label">意见描述：</label>
                            <label class="col-md-10" name="description"></label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="modal-footer">
	        <button type="button" class="btn btn-default" action="close-button">关闭</button>
	    </div>
    </div>
</div>
