<div class="row NotSettleBill-info-main-btngroup" >
    <div class="col-md-12 emgceval-main-view">
        <div class="row">
            <div class="container-fluid">
            	<div class="collapse navbar-collapse">
            		<div class="navbar-form navbar-left" role="search">
            			<div class="form-group">
            				支付时间：
            				<div class="input-group">
            					<input type="text" field="datetime" class="form-control" name="startTimeByNotSettle" data-rule="match[lt, endTime, date]">
            				</div>
            				至
            				<div class="input-group">
            					<input type="text" field="datetime" class="form-control" name="endTimeByNotSettle">
            				</div>
            				&nbsp;&nbsp;店铺名称：
            				<select class="combobox form-control" name="shopByNotSettle" field="combobox">
                          		<option value="0" selected="selected">全部店铺</option>
                        	</select>    
		          			&nbsp;&nbsp;<input type="text" name="orderIdByNotSettle" placeholder="按订单号搜索...">
                     	</div>
                    	<button class="btn btn-info" action="search">搜索</button>
                    	<button class="btn btn-info" action="refresh">刷新</button>
                   </div>
                </div>
           	</div>
        </div>
        <div class="row" style="margin-left:10px;">
        	支付总金额：<label id="payTotalAmountByNotSettle"></label>&nbsp;&nbsp;
        	结算总金额：<label id="settlementTotalAmountByNotSettle"></label>
        </div>
        <div class="row" style="margin-right:10px;">
            <div class="col-md-12 emgceval-content-div" id="NotSettleBill-info-content-div">
            </div>
        </div>
    </div>
</div>