<div class="ui-dialog dialog-md add-inbound-detail-manager-child" style="width: 70%" >
    <div class="modal-header">
        <h4 id="add-title-detail" class="modal-title">新增入库单</h4>
    </div>
    <div class="modal-body">
            <div style="margin-left: 0px;"><span><b>添加入库明细:</b></span></div>
            <div style="margin-left: 0px;margin-bottom: 10px;"><span>请输入入库货品的数量:</span>
               <!-- <button class="btn btn-info" action="d-del-button" style="float: right;margin-right: 10px;">删除</button> -->
			</div>
		        <div id="tabs-a">          
			        <div class="row" style="margin-right:20px;">
			            <div class="col-md-12 emgceval-content-div" id="add-inbound-deteil-rule-content-div">
			            </div>
			        </div>               
		    </div>   
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" action="d-prev-button">上一步</button>
        <button type="button" class="btn btn-info" action="d-save-button">保 存</button>
        <button type="button" class="btn btn-default" action="d-cancel-button">取消</button>
    </div>
</div>

