<div class="row">
    <div class="col-md-12 emgceval-main-view">
        <div class="row">
            <div class="col-md-12 coupon-info-main-btngroup">
                <div class="input-group btn-group pull-right">
                  <div class="col-md-2">
                    <input type="text" name="coupon-conditions" class="form-control" placeholder="按兑换券名称搜索">
                    </div>
                    <span class="input-group-btn">
                        <button type="submit" name="search" class="btn btn-info" action="search" ><i class="fa fa-search"></i>
                        </button>
                        <button type="button" class="btn btn-info" action="refresh" title="刷新">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                        <button type="button" class="btn btn-info" action="add" title="新建">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button type="button" class="btn btn-info" action="edit" title="编辑">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button type="button" class="btn btn-info" action="del" title="删除">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </span>
                </div>
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <div class="good-info-main-btngroup" role="search">
                        <button class="btn btn-info" action="exportExcel">导出二维码</button>
<!--                         <span style="color:#ff0000; font-size:18px">注：Excel导出路径为：D:\sumgoteakaquan\</span> -->
                      </div>
                    </div>
               </div>
            </div>
        <div class="row" style="margin-right:10px;">
            <div class="col-md-12 emgceval-content-div" id="coupon-info-content-div">
            </div>
        </div>
    </div>
</div>