<div class="ui-dialog dialog-md classifyColumnWindow">
	<div class="modal-header">
		<h4 class="modal-title">新增货品分类栏目</h4>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" name="classify-column-form">
			<div class="panel panel-default">
				<div class="panel-body">
					<input type="hidden" name="id">
					<input type="hidden" name="imgUrl">
					<div class="col-md-12">
						<div class="form-group required">
							<label class="col-md-4 control-label">关联分类：</label>
							<div class="input-group col-md-7" style="z-index: 1000;">
								<input type="text" class="form-control" style="padding-left: 8px;" id="stock-chechk-classify" name="classifyName" readonly="readonly" placeholder="请选择分类" data-rule="required;">
								<input type="text" id="stock-chechk-classify_val" name="classifyId" hidden="true" value="0">
								<span class="input-group-addon">
									<a href="javascript:void(0);" id="stock-menuBtn-check" class="inforeport-add-triangle">
										<span class="glyphicon glyphicon-triangle-bottom"></span>
									</a>
								</span>
								<div class="menuContent" style="position: absolute;background-color:#00BFFF;width: 200px; max-height: 200px; overflow-y: auto;" id="tree_select_menu_html_stock_check">
									<ul id="treeDemoStockCheck" class="ztree" style="width:auto;overflow: auto;z-index: 1000"></ul>
								</div>
							</div>
						</div>
						<div class="form-group required">
							<label class="col-md-4 control-label">排序：</label>
							<div class="input-group col-md-7">
								<input field="spinner" class="form-control" name="orderIndex" value="0" data-rule="required;">
								<span style="font-size:10px;color: #B0B0B0">提示：数字越大,排序越前</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">图片：</label>
							<div class="btn-group col-md-7" >
							    <div class="flex-container" id="small_img_container"></div>
							    <span style="font-size:10px;color: #B0B0B0">比例1:1，建议大小为372*260</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>	
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-info" action="save-button">确定</button>
		<button type="button" class="btn btn-default" action="cancel-button">取消</button>
	</div>
</div>
