<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration  
	  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
	  "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration> 
	<properties>
		<property name="dialect" value="oracle" />
		<property name="pageSqlId" value=".*Page$" />
	</properties>
	<settings>  
		<setting name="mapUnderscoreToCamelCase" value="true" />  
	</settings>
	<typeAliases>
  		<typeAlias alias="sqladapter" type="com.compses.dto.SQLAdapter" />
	</typeAliases>
	<plugins>  
		<plugin interceptor="com.compses.common.mybatis.plugin.PageInterceptor">  
			<property name="dialect" value="com.compses.common.mybatis.OracleDialect"/> 
		</plugin>  
	</plugins>
</configuration>  