<div class="ui-dialog dialog-md selectCargoWindow">
	<div class="modal-header">
		<h4 class="modal-title">选择货品</h4>
	</div>
	<div class="modal-body">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row" style="margin-right: 10px;">
				    <div class="row">
            <div class="col-md-12">
                <div class="input-group btn-group pull-right good-info-main-btngroup">
                    <input type="text" name="good-select-conditions" class="form-control" placeholder="按名称搜索">
                    <span class="input-group-btn">
                        <button type="submit" name="search" class="btn btn-info" action="search" ><i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
					<div class="col-md-12 emgceval-content-div"
						id="selectgood-info-content-div"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-info" action="save-button">确定</button>
		<button type="button" class="btn btn-default" action="cancel-button">取消</button>
	</div>
</div>
