<div class="ui-dialog dialog-md UpGoodWindow">
	<div class="modal-header">
		<h4 class="modal-title">上架商品</h4>
	</div>
<div class="modal-body">
		<div class="panel panel-default">
			<div class="panel-body">
				<form class="form-horizontal" name="good-form">
					<input type="hidden" name="tradeGoodId"> 
					<input type="hidden" name="goodSkuId">
					<input type="hidden" name="cargoId">

					<div class="col-md-15" style="margin-left: 60px">
						<table class="gridtable"  style="text-align:center;margin-left: 130px;margin-top: 60px">
							<tr>
								<th>序号</th>
								<th>规格</th>
								<th>库存剩余数</th>
								<th>上架数量</th>
							</tr>
						</table>
					</div>
						<div style="margin-top: 60px;text-align:center">
						<span style="color:red">温馨提示：商品上架数量应不超过库存数量，请合理操作</span>
						</div>
				</form>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-info" action="save-button">确定</button>
		<button type="button" class="btn btn-default" action="cancel-button">取消</button>
	</div>
</div>
